<h3>
  <%= collection.name %>
</h3>
<div id="<%= dom_id collection %>">
  <p>
    <strong><%= "#{t 'activerecord.attributes.collection.equations_quantity'}:" %></strong>
    <%= collection.equations_quantity %>
  </p>
  <p>
    <!--TODO: Uncomment when add equation model-->
    <!--<strong><%#= "#{t('activerecord.models.equation').pluralize}:" %></strong>
    <table>
      <thead>
        <tr>
          <th><%#= t "helpers.label.equation.id" %></th>
          <th colspan="2"><%#= t "helpers.label.equation.name" %></th>
        </tr>
      </thead>
      <tbody>
        <%# collection.equations.each do |equation| %>-->
    <!--          <tr>
            <td class="id-cell">
              <%#= equation.id %>-->
    <!--            </td>
            <td class="name-cell">
              <%#= equation.name %>-->
    <!--            </td>
            <td class="link-cell">
              <%#= link_to t("equations.show"), equation, class: "text-xs" %>-->
    <!--            </td>
          </tr>
        <%# end %>-->
    <!--      </tbody>
    </table>-->
  </p>
</div>
