<main class="background green">
  <div class="blur">
    <%= render "shared/header" %>
    <div class="panel round-finished">
      <h1><%= t("rounds.congrats") %></h1>
      <p><%= t("rounds.congrats_message") %></p>
    </div>
  </div>
</main>