<main class="background green">
  <div class="blur">
    <div class="panel form">
      <%= render "collections/unknown_position_#{@current_equation.unknown_position.downcase}" %>
    </div>
  </div>
</main>