<h1>S.A.M.</h1>
<p>Software de Avaliação Matemática</p>
<% if admin_signed_in? %>
  <h1>Bem-vindo, <%= current_user.email %></h1>
  <%= link_to "Sign out", destroy_admin_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign in", new_admin_session_path %>
<% end %>
