<main class="background">
  <div class="blur">
    <%= render "shared/header" %>
    <% if !admin_signed_in? %>
      <div class="panel title-screen">
        <h1><%= t "home.title" %></h1>
        <p><%= t "home.subtitle" %></p>
      </div>
    <% else %>
      <div class="panel homepage">
        <div class="buttons">
          <div class="buttons round">
            <%= link_to t("home.new_round"), new_round_path, class: "btn btn-large blue" %>
            <%#= link_to t("reports.show_all"), reports_path, class: "btn btn-large raspberry" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
