<main class="background">
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t "home.new_round" %></h2>
    <div class="panel form">
      <%= render "form" %>
    </div>
  </div>
</main>