<% content_for :title, t("answers.new") %>
<main class="background green">
  <div class="blur">
    <div class="panel form">
      <!--<h2> TODO: Add instructions? </h2>-->
      <%= render "form", answer: @answer %>
    </div>
  </div>
</main>
